<html>
    <head>
        <title>SHOW</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <table>
            <tr>
                <td><label for="title">title</label></td>
                <td><span name="title"><%= write[0].title %></span></td>
            </tr>
            <tr>
                <td><label for="username">writer</label></td>
                <td><span name="username"><%= write[0].username %></span></td>
            </tr>
            <tr>
                <td><label for="date">date</label></td>
                <td><span name="date"><%= write[0].date %></span></td>
            </tr>
            <tr>
                <td><label for="content">content</label></td>
                <td><span name="content"><%= write[0].content %></span></td>
            </tr>
            <tr>
                <td><label for="file">file</label></td>
                <td><span id="file_name" name="file_name"><%= write[0].file_name %></span>  <button id="file_download">다운로드</button></td>
            </tr>
        </table>
    </body>
    <script src="../js/download_file.js" type="module"></script>
</html>