<html>
    <head>
        <title>SHOW</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/public/css/good_bad.css">
    </head>
    <body>
        <button><a href="/board">board</a></button>
        <hr>
        <table>
            <tr>
                <td><label for="title">title</label></td>
                <td><span name="title"><%= write[0].title %></span></td>
            </tr>
            <tr>
                <td><label for="username">writer</label></td>
                <td><span name="username"><%= write[0].username %></span></td>
            </tr>
            <tr>
                <td><label for="date">date</label></td>
                <td><span name="date"><%= write[0].date %></span></td>
            </tr>
            <tr>
                <td><label for="content">content</label></td>
                <td><span name="content"><%= write[0].content %></span></td>
            </tr>
            <% if (write[0].file_name) { %>
            <tr>
                <td><label for="file">file</label></td>
                <td><span id="file_name" name="file_name"><%= write[0].file_name %></span>  <button id="file_download_btn" onclick='file_download()'>다운로드</button>
            </tr>
            <% } %>
        </table>
        <br>
        <% if (username === write[0].username || write[0].role === 1) { %>
            <button><a href="/board/modify?page=<%= write[0].index %>">modify</a></button>
            <button id="write_delete_btn">delete</button>
            <br>
        <% } %>
        <br>
        <button id="good_btn">good</button>
        <button id="bad_btn">bad</button>
        <button id="report_btn">report</button>

        <% if (good_and_bad === 'good') { %>
            <script>document.getElementById('good_btn').style.backgroundColor = 'skyblue';</script>
        <% } else if (good_and_bad === 'bad') { %>
           <script>document.getElementById('bad_btn').style.backgroundColor = 'red';</script>
        <% } %>

    </body>
    <script src="/public/js/download_file.js"></script>
    <script src="/public/js/good_bad.js"></script>
    <script src="/public/js/report.js"></script>
    <script src="/public/js/write_delete.js"></script>
</html>