<html>
    <head>
        <title>BOARD</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/public/css/board_index.css">
    </head>
    <body>
        <button><a href="/">Home</a></button>
        <button><a href="/board/write">Write</a></button>
        <button><a href="/user/info">Info</a></button>
        <button><a href="/user/logout">Logout</a></button>
        <hr>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Writer</th>
                        <th>Date</th>
                        <th>Views</th>
                        <th>Good</th>
                        <th>Bad</th>
                    </tr>
                </thead>
                <tbody>
                    <% writes_list.forEach(function (write) { %>
                        <% if (write.secret === 1) { %>
                            <% if (user.role === 1) { %>
                                <tr onclick="location.href='/board/show?page=<%= write.index %>'">
                                    <td><%= write.title %></td>
                                    <td><%= write.username %></td>
                                    <td><%= write.date %></td>
                                    <td><%= write.view %></td>
                                    <td><%= write.good %></td>
                                    <td><%= write.bad %></td>
                                    <td>(비밀글)</td>
                                </tr>
                            <% } else { %>
                                <% if (write.username === user.username) { %>
                                    <tr onclick="location.href='/board/show?page=<%= write.index %>'">
                                        <td><%= write.title %></td>
                                        <td><%= write.username %></td>
                                        <td><%= write.date %></td>
                                        <td><%= write.view %></td>
                                        <td><%= write.good %></td>
                                        <td><%= write.bad %></td>
                                        <td>(비밀글)</td>
                                    </tr>
                                <% } else { %>
                                    <tr>
                                        <td></td>
                                        <td><%= write.username %></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>비밀글</td>
                                    </tr>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            <tr onclick="location.href='/board/show?page=<%= write.index %>'">
                                <td><%= write.title %></td>
                                <td><%= write.username %></td>
                                <td><%= write.date %></td>
                                <td><%= write.view %></td>
                                <td><%= write.good %></td>
                                <td><%= write.bad %></td>
                            </tr>
                        <% } %>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <br>
        <div>
            <ul class="pagination">
                <% for (var i = 1; i<= total_page; i++) { %>
                    <li>
                        <a href="/board/?page_index=<%= i %>"><%= i %></a>
                    </li>
                    <% if (i % 10 === 0) { %>
                        <br>
                    <% } %>
                <% } %>
            </ul>
        </div>
    </body>
</html>